In [5]:
import pandas as pd
stock_abc = pd.DataFrame([11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99])

In [6]:
stock_abc.shift(5)

       0
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5  11.25
6  11.98
7  10.74
8  11.16
9  12.35